.header-container {
  background-color: #cbd5e1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 90%;
}

.header-text {
  color: #475569;
  font-family: 'Roboto';
  font-size: 32px;
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .header-text {
    font-size: 42px;
  }
}
